{% extends 'members/main.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block data %}
<div class='row'>
  <!-- MENU -->
  <div class='col-md-2'>
    <ul class="nav nav-pills nav-stacked">
      {% for group, name in group_names %}
        <li role="presentation"
        {% if group_name = group %}
          class='active'
        {% endif %}
        ><a href="{% url 'groups' %}{{ group}}/">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <!-- END MENU -->
  <div class='col-md-10'>
    <h2>{{ display_name }}</h2>
    <div class='col-md-10'>

      <h3>Predseda komisie</h3>
      {% if group_leader %}
         <table class="table">
          <thead>
            <tr>
              <td>
                Meno
              </td>
              <td>
                Email
              </td>
              <td>
                Mandát od
              </td>
              <td>
                Mandát do
              </td>
              <td>
                Info
              </td>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>
             {{ group_leader.member.first_name }} {{ group_leader.member.last_name}}
            </td>
            <td>
              {{ group_leader.member.email }}
            </td>
            <td>
              {{ group_leader.start }}
            </td>
            <td>
              {{ group_leader.end }}
            </td>
            {% if user.details.role == 'admin' %}
            <td>
              <form method='POST' action='{% url "groups" %}{{ group_name }}/'>
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ group_leader.member.id }}">
                  <button type='submit' class='btn btn-danger' name='remove_leader'>Vymazať</button>
              </form>
            </td>
            {% endif %}
            </tr>
          </tbody>
        </table>
      {% else %}
         {% if user.details.role == 'admin' %}
            <td>
              <form method='POST' action='{% url "groups" %}{{ group_name }}/'>
                  {% csrf_token %}
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              {{ leader_form.users|bootstrap }}
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class='col-sm-3'>
                          <div class="form-group" id='leader_start'>
                              {{ leader_form.start_leader|bootstrap }}
                          </div>
                      </div>
                      <div class='col-sm-3'>
                          <div class="form-group" id='leader_end'>
                              {{ leader_form.end_leader|bootstrap }}
                          </div>
                      </div>
                  </div>
                  <button type='submit' class='btn btn-success' name='add_leader'>Zvoliť predsedu</button>
              </form>
            </td>
            {% endif %}
      {% endif %}


    <h3>Členovia komisie</h3>
    {% if group_members %}
      <table class="table">
        <thead>
          <tr>
            <td>
              Meno
            </td>
            <td>
              Email
            </td>
            <td>
              Mandát od
            </td>
            <td>
              Mandát do
            </td>
            <td>
              Info
            </td>
          </tr>
        </thead>
        <tbody>
      {% for group in group_members %}
          <tr>
            <td>
             {{ group.member.first_name }} {{ group.member.last_name}}
            </td>
            <td>
              {{ group.member.email }}
            </td>
            <td>
              {{ group.start }}
            </td>
            <td>
              {{ group.end }}
            </td>
            {% if user.details.role == 'admin' %}
            <td>
              <form method='POST' action='{% url "groups" %}{{ group_name }}/'>
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ group.member.id }}">
                  <button type='submit' class='btn btn-danger' name='remove'>Vymazať</button>
              </form>
            </td>
            {% endif %}
          </tr>
      {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Komisia nemá v súčasnosti žiadnych členov.</p>
    {% endif %}
    <h4>Pridať člena</h4>
    <div>
      <form method='POST' action='{% url "groups" %}{{ group_name }}/'>
          {% csrf_token %}
          <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                      {{ form.users|bootstrap }}
                  </div>
              </div>
          </div>
          <div class="row">
              <div class='col-sm-3'>
                  <div class="form-group" id='group_start'>
                      {{ form.start|bootstrap }}
                  </div>
              </div>
              <div class='col-sm-3'>
                  <div class="form-group" id='group_end'>
                      {{ form.end|bootstrap }}
                  </div>
              </div>
          </div>
          <button type='submit' class='btn btn-success' name='add_user'>Pridať</button>
      </form>
    </div>
    </div>
  </div>
  <script src="{% static "js/groups.js" %}"></script>
</div>

{% endblock %}
