{% extends 'index.html' %}
{% load bootstrap %}

{% block content %}
<div class='row'>
    <div class='col-md-4 form-group'>
    <h1>Nastavte si svoje heslo</h1>
        <form method='POST' action=''>
          {% csrf_token %}
          Heslo<input type='password' class='form-control' name='password'/>
          Heslo znova<input type='password' class='form-control' name='re_password'/>
         <input type='submit' class='btn btn-success' name='submit' value='Submit'/>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
