{% extends 'index.html' %}
{% load bootstrap %}

{% block content %}
<div class='row'>
    <div class='col-md-6'>
    <h3>Zadajte nové heslo</h3>
        <form method='POST' action=''>
          {% csrf_token %}
           <label class="control-label" for="password">Heslo</label>
           <input class='form-control' type='password' name='password'/>
           <label class="control-label" for="repassword">Heslo znova</label>
           <input class='form-control' type='password' name='repassword'/>
         {% if error %}
          <br>
          <p>Heslá sa nezhodujú</p>
         {% endif %}
         <br>
          <input type='submit' class='btn btn-success' name='submit' value='Uložiť'/>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
