{% extends 'index.html' %}
{% load bootstrap %}
{% load formatresult %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
<div class='row'>
    <div class='col-md-6'>
      <h1>Vyhľadávanie v archíve</h1>
      <form method='POST' action=''>
        {% csrf_token %}
        {{ form.name|bootstrap }}
        <input type='submit' class="btn btn-default" name='search' value='Hľadať'/>
      </form>
      </div>
</div>
<div class='row'>
    <div class='col-md-12'>
    <h1>Výsledky</h1>
    {% if results %}
      Nájdených {{ results|length }} výsledkov<br>
    {% endif %}
    {% for result in results %}
      <div class='row' style='padding-left:15px'>
      <hr>
      {% autoescape off %}
        {{ result.name|formatresult:phrase}}
        <a class='btn btn-success' href='/viewer/{{result.id.hex}}/'><i class="fa fa-search"></i></a>
      {% endautoescape %}
      </div>
    {% empty %}
      Pre zadaný výraz neexistujú výsledky
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

