{% extends 'index.html' %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>Senátna legislatíva</h3>
      <a href='https://uniba.sk/o-univerzite/organy-uk/akademicky-senat-uk/rokovaci-poriadok-as-uk/'>Rokovací poriadok Akademického senátu UK</a> <br>
      <a href='https://uniba.sk/o-univerzite/organy-uk/akademicky-senat-uk/zasady-volieb-do-as-uk/'>Zásady volieb do Akademického senátu UK</a><br>
      <a href='https://uniba.sk/o-univerzite/organy-uk/akademicky-senat-uk/poriadok-volieb-kandidata-na-rektora/'>Poriadok volieb kandidáta na rektora Univerzity Komenského v Bratislave</a><br>
      <a href='https://uniba.sk/o-univerzite/organy-uk/akademicky-senat-uk/volby-do-as-uk/'>Zápisnice z volieb do AS UK</a><br>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h3>Kontakty</h3>
  </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
