{% extends 'index.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
<div class='col-md-offset-3 col-md-6'>
  <form action='{% url "add_meeting" %}' method='POST'>
    {% csrf_token %}
    <div class="row">
            <div class="form-group">
                {{ form.title|bootstrap }}
            </div>
    </div>
    <div class="row">
            <div class="form-group">
                {{ form.date|bootstrap }}
            </div>
    </div>
    <div class="row">
            <div class="form-group">
                {{ form.choices|bootstrap }}
            </div>
    </div>
    <div class="row">
        <input type='submit' class='btn btn-success' name='add_meeting' value='Uložiť a pokračovať k tvorbe programu'>
     </div>
  </form>
  <script src="{% static "js/meetings.js" %}"></script>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

