{% extends 'index.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
<style>
    ul {
        list-style-type: none;
        padding-left:0px;
    }
</style>
<div class='col-md-offset-3 col-md-6'>
  <form action='{% url "add_meeting" %}' method='POST'>
    {% csrf_token %}
    <div class="row">
            <div class="form-group">
                {{ form.title|bootstrap }}
            </div>
    </div>
    <div class="row">
            <div class="form-group">
                {{ form.date|bootstrap }}
            </div>
    </div>
    <div class="row">
            <div class="form-group">
                {{ form.choices|bootstrap }}
            </div>
    </div>
    <div class="row">
            {{ form.invited.label_tag }}
            <div class="form-group" style='border: 1px solid #AAA; border-radius:5px; max-height:300px; overflow-y:scroll; overflow-x: hidden; padding:10px;'>
                {{ form.invited }}
            </div>
    </div>
    <div class="row">
        <input type='submit' class='btn btn-success' name='add_meeting' value='Uložiť a pokračovať k tvorbe programu'>
     </div>
  </form>
  <script src="{% static "js/meetings.js" %}"></script>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

