{% extends 'index.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% load jfutags %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
    <script src="{% static 'js/add_program.js'%}"></script>
    <style>
    #sortable1, #sortable2 {
      border: 1px solid #eee;
      width: 470px;
      min-height: 40px;
      margin: 0;
      padding: 5px 0 0 0;
      float: left;
      border-radius: 5px;
      margin-right: 10px;
    }

    #sortable1 {
      list-style-type: none;
    }

    #sortable2 {
      padding-left: 2.0em;
    }

    #sortable1 li, #sortable2 li {
      margin: 0 5px 5px 5px;
      padding: 5px;
      padding-left: 1.5em;
      font-size: 1.2em;
    }

    #sortable1 li {
      width: 450px;
    }

    #sortable1 .visibility {
      display: none;
    }

    #sortable2 .visibility {
      display: block;
      position: relative;
      float: right;
    }

    #sortable2 li {
      width: 420px;
    }

    .up-form {
       display: none;
    }

    #sortable1 .v {
      display: none;
    }

    #sortable1 .inv {
      display: none;
    }


    #sortable2 .v {
      display: block;
    }

    #sortable2 .inv {
      display: none;
    }

    #sortable2 li span { position: absolute; margin-left: -1.3em; }
    </style>
    <div class='row'>
      <div class="col-md-10 alert alert-info">
        Program je možné neskôr upravovať alebo celý zložiť až neskôr.
      </div>
      {% if proposals or assigned_proposals %}
      <div class='col-lg-6'>
        <input type='hidden' id="csrf" value='{{ csrf_token }}' />
        <input type='hidden' id="meeting_id" value='{{ meeting.id.hex }}' />
        <h4>Pridelené materiály</h4>
        <ul id="sortable1" class="connectedSortable">
          {% for proposal in proposals %}
            <li class="ui-state-default" data-id="{{ proposal.id.hex }}">
              <strong>{{ proposal.name }}</strong>
              <div class='visibility'>
                <i class="fa fa-sort-desc"></i>
              </div>
              <div class='up-form inv'>
                 <input class='form-control' type='text' />
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class='col-md-6'>
        <h4>Program zasadnutia</h4>
        <ol id="sortable2" class="connectedSortable">
        </ol>
      </div>
    {% else %}
      <p>Neexistujú žiadne materiály na priradenie</p>
    {% endif %}
    </div>
    {% if proposals or assigned_proposals %}
      <div class='row'>
          <button id="save-btn" class="btn btn-default">Uložiť</button>
      </div>
    {% else %}
      <div class='row'>
          <input type='hidden' id="meeting_id" value='{{ meeting.id.hex }}' />
          <button id="next-btn" class="btn btn-default">Pokračovať</button>
      </div>
    {% endif %}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

