{% extends 'index.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
  {% if successfully_added %}
    <div class="alert alert-success">
      Zasadnutie bolo úspešne pridané
    </div>
  {% endif %}
  <form action='{% url "add_meeting" %}' method='POST'>
    {% csrf_token %}
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                {{ form.title|bootstrap }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                {{ form.date|bootstrap }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                {{ form.choices|bootstrap }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                {{ form.invitation|bootstrap }}
            </div>
        </div>
    </div>
    <input type='submit' class='btn btn-success' name='add_meeting' value='Pridať zasadnutie'>
  </form>
  <script src="{% static "js/meetings.js" %}"></script>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

