{% extends 'index.html' %}
{% load getfiletype %}
{% load getstate %}
{% load getgroupname %}
{% load timeformatters %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
<div class='row'>
  <h4>Dokumenty k zasadnutiu</h4>
     <a target='_blank' href='/viewer/file/{{ meeting.program.id.hex }}'>
         Program
     </a><br>
     <a target='_blank' href='/viewer/file/{{ meeting.invitation.id.hex }}'>
         Pozvánka
     </a>
    <ol>
    {% for document in meeting_materials %}
      <li>
       <div class="row">
        <div class="col-md-5">
          <strong>{{ document.proposal.name }}</strong><br>
          {{ document.proposal.creator.last_name }} {{ document.proposal.creator.first_name }}<br>
         {{ document.proposal.timestamp }} 
        </div>
        <div class="col-md-5">
           {% if document.files.proposal %}
            {{ document.files.proposal.file_type|getfiletype }}<br>
            <a href='/viewer/{{document.proposal.id.hex}}/{{document.files.proposal.id.hex}}'>{{ document.files.proposal.name }}</a><br>
          {% endif %}
          {% if document.files.own_material %}
            {{ document.files.own_material.file_type|getfiletype }}<br>
            <a href='/viewer/{{document.proposal.id.hex}}/{{document.files.own_material.id.hex}}'>{{ document.files.own_material.name }}</a><br>
          {% endif %}
          {% if document.files.docs %}
            {{ document.files.docs.0.file_type|getfiletype }}<br>
            {% for f in document.files.docs %}
              <a href='/viewer/{{document.proposal.id.hex}}/{{f.id.hex}}'>{{ f.name }}</a><br>
            {% endfor %}
          {% endif %}
          {% if document.files.attachment %}
            {{ document.files.attachment.0.file_type|getfiletype }}<br>
            {% for f in document.files.attachment %}
              <a href='/viewer/{{document.proposal.id.hex}}/{{f.id.hex}}'>{{ f.name }}</a><br>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-2">
            <a class='btn btn-success' href='/viewer/{{document.proposal.id.hex}}/'><i class="fa fa-search"></i></a>
            <a class='btn btn-success' href='/upload/download/zip/{{document.proposal.id.hex}}'><i class="fa fa-download"></i></a>
        </div>
      </div>
    </li>
    <hr>
    {% empty %}
      K tomuto zasadnutiu ešte niesú žiadne návrhy
    {% endfor %}
  </ol>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
