{% extends 'index.html' %}
{% load bootstrap %}

{% block navigation %}
		{% include 'navigation.html' %}
{% endblock%}

{% block content %}
<di class='row'>
		<div class='col-md-6'>
			<h1>Predloženie dokumentu</h1>
			<p>Materiály je možné predkladať vo formáte(odt, doc, docx alebo pdf)</p>
			<form method='POST' action='{% url "upload" %}' enctype="multipart/form-data">
				{% csrf_token %}
				<div class="upload_field">
				    {{ uploadform.title|bootstrap }}
				</div>
				<h3>Povinné náležitosti materiálu</h3>
				<div class="upload_field">
				    {{ uploadform.main_document|bootstrap }}
				</div>
				<div class="upload_field">
				    {{ uploadform.own_material|bootstrap }}
				</div>
				<h3>Odporúčané náležitosti materiálu</h3>
				<div class="upload_field">
				    {{ uploadform.cause|bootstrap }}
				</div>
				<div class="upload_field">
				    {{ uploadform.attachment|bootstrap}}
				</div>
				<div class="upload_field">
				    {{ uploadform.organ|bootstrap}}
				</div>
				<div class="upload_field">
				    {{ uploadform.category|bootstrap}}
				</div>
				<input type='submit' class="btn btn-default" name='upload_files' value='Predložiť'/>
			</form>
		</div>
			
		<div class='col-md-6'>
			<h1>Generátor dokumentov</h1>
			<p>
			Tento nástroj slúži na generovanie dokumentov z vopred definovanej šablóny. Po vybratí šablóny bude nutné vyplniť povinné polia a systém Vám vygeneruje dokument s vyplnenými údajmi.
			</p>
			<form method='POST' action='{% url "upload" %}'>
				{% csrf_token %}
				{{ patternform|bootstrap }}
				<input type='submit' class="btn btn-default" name='pattern' value='Vybrať'/>
			</form>

			{% if templateform %}
			<form method='POST' action='{% url "upload" %}'>
				{% csrf_token %}
				{{ templateform|bootstrap }}
				<input type='submit' class="btn btn-default" name='template' value='Vygenerovať dokument'/>
			</form>
			{% endif %}
		</div>
</div>
{% endblock %}

{% block footer %}
		{% include 'footer.html' %}
{% endblock %}