<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Aktuálne</a></li>
        {% if request.user.details.can_submit %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Podatelňa<span class="caret"></span></a>
            <ul class="dropdown-menu">
             <li><a href="{% url 'upload' %}">Priame podanie</a></li>
             <li><a href="{% url 'generator' %}">Generátor dokumentov</a></li>
            </ul>
          </li>
        {% endif %}
        {% if request.user.details.role == 'member' %}
        <li><a href="{% url 'negotiation' %}">Na pripomienkovanie</a></li>
        {% endif %}
        {% if request.user.details.role == 'admin' %}
        <li><a href="{% url 'negotiation' %}">Na pridelenie</a></li>
        {% endif %}
        <li><a href="{% url 'calendar' %}">Kalendár</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Členovia<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'members' %}">Zoznam členov</a></li>
            <li><a href="{% url 'attendance' %}">Dochádzka</a></li>
            <li><a href="{% url 'groups' %}">Komisie</a></li>
          </ul>
        </li>
        <li><a href="{% url 'my_meetings' %}">Moje zasadnutia</a></li>
        <li><a href="{% url 'archive' %}">Archív</a></li>
        <li><a href="{% url 'logout' %}">Odhlásiť sa</a></li>
      </ul>
    </div>
  </div>
</nav>
