{% extends 'index.html' %}
{% load keyvalue %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
    {{ proposal.name }}
    <form method='POST' action='/negotiation/report/{{ proposal.id }}'>
      {% csrf_token %}
      <h3>Zamietnuť materiál</h3>
        <p>Odôvodnenie</p>
        <textarea name='reason' class='form-control'></textarea>
      <button type='submit' name='report' class='btn btn-success'>Zamietnuť</button>
    </form>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
