{% extends 'index.html' %}
{% load keyvalue %}
{% load getfiletype %}
{% load getstate %}
{% load getgroupname %}

{% block navigation %}
    {% include 'navigation.html' %}
{% endblock%}

{% block content %}
  {% if proposals %}
    <table class="table">
      <thead>
        <tr>
          <td>
          <strong>
            Názov návrhu
          </strong>
          </td>
          <td>
          <strong>
            Predkladateľ
          </strong>
          </td>
          <td class="col-md-1">
          <strong>
            Dátum predloženia
          </strong>
          </td>
          <td class="col-md-3">
          <strong>
            Stav
          </strong>
          </td class="col-md-2">
          <td>
          </td>
         <td class="col-md-3">
          </td>
        </tr>
      </thead>
      <tbody>
    {% for proposal in new %}
      <tr>
        <td>
            {{ proposal.name }}
        </td>
        <td>
            {{ proposal.creator.first_name }} {{ proposal.creator.last_name }}
        </td>
        <td>
            {{ proposal.timestamp }}
        </td>
        <td>
            {{ proposal.state|getstate }}
        </td>

        <td>
            <a class='btn btn-success' href='/viewer/{{ proposal.id.hex}}/'><i class="fa fa-search"></i></a>
            <a class='btn btn-success' href='/upload/download/zip/{{ proposal.id.hex}}'><i class="fa fa-download"></i></a>
        </td>
        <td>
        <div class='row'>
          <div class='col-md-6'>
              <form method='POST' action='{% url "negotiation" %}'>
               {% csrf_token %}
                <button type='submit' value='{{proposal.id.hex}}' name='assign' class='btn btn-success'>Prideliť</button>
              </form>
          </div>
          <div class='col-md-6'>
            <form method='POST' action='{% url "negotiation" %}'>
              {% csrf_token %}
              <button type='submit' value='{{proposal.id.hex}}' name='report' class='btn btn-danger'>
                  Zamietnuť
              </button>
            </form>
          </div>
        </div>
        </td>
      </tr>
      {% endfor %}
      {% for proposal in assigned %}
        <tr>
          <td>
              {{ proposal.proposal.name }}
          </td>
          <td>
              {{ proposal.proposal.creator.first_name }} {{ proposal.proposal.creator.last_name }}
          </td>
          <td>
              {{ proposal.proposal.timestamp }}
          </td>
          <td class='col-md-3'>
              {% if proposal.done_all %}
                Prerokované vo všektých komisiách
              {% else %}
                <strong>
                Prerokované v komisiách<br>
                </strong>
                {% for c in proposal.done %}
                  {{ c|getgroupname}}<br>
                {% endfor %}
                <strong>
                Zostáva prerokovať v<br>
                </strong>
                {% for c in proposal.left %}
                  {{ c|getgroupname}}<br>
                {% endfor %}
              {% endif %}
          </td>

          <td class='col-md-2'>
              <a class='btn btn-success' href='/viewer/{{ proposal.proposal.id.hex}}/'><i class="fa fa-search"></i></a>
              <a class='btn btn-success' href='/upload/download/zip/{{ proposal.proposal.id.hex}}'><i class="fa fa-download"></i></a>
          </td>
          <td class='col-md-3'>
            <div class='row'>
              {% if proposal.done_all %}
              <div class="col-md-6">
                  <form method='POST' action='{% url "negotiation" %}'>
                   {% csrf_token %}
                    <button type='submit' value='{{proposal.proposal.id.hex}}' name='assign' class='btn btn-success'>Prideliť</button>
                  </form>
              </div>
              <div class="col-md-6">
                <form method='POST' action='{% url "negotiation" %}'>
                  {% csrf_token %}
                  <button type='submit' value='{{proposal.proposal.id.hex}}' name='report' class='btn btn-danger'>
                      Zamietnuť
                  </button>
                </form>
              </div>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>V súčasnosti nemáte žiadne návrhy.</p>
  {% endif %}
  
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

